.profile {
  padding: 30px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .thumb-box {
    width: 30%;
    display: inline-block;

    img {
      border-radius: 50%;
      width: 50px;
    }
  }

  div {
    width: 70%;
  }

  p {
    font-size: 15px;
    width: 65%;
  }
}

